.sidebar {
    background-color: #5C9794;
    color: rgb(9, 8, 8);
    height: 100vh;
    padding: 1rem;
    max-width: 15vw;

    .list-item {
        margin: 1rem 0;
        font-size: medium;
    }
}